# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#IDEA
.idea
*.iml

#Templates
!utilities/live-templates/cqrs-macros.jar
!utilities/live-templates/live-templates.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
/build/
/classes/
!gradle/wrapper/gradle-wrapper.jar
!infrastructure/**/build/
payment/build/
wallapop-commons/build/
wallapop-cqrs-event-sourcing-spring-boot-starter/build/
wallapop-notification-firebase-push-client/build/
wallapop-github-pull-request-merger/build/
wallapop-smspubli-client/build/
wallapop-mandrill-mail-sender-client/build/
wallapop-tapylitics-client/build/
wallapop-paylivery-commons/build/
wallapop-mparticle-client/build/
utils/scripts/build/

log/
artifact_folder/*

# Mac .DS_Store file
*/*.DS_Store
.DS_Store

# /out/ folder
payment/out/
wallapop-cqrs-event-sourcing-spring-boot-starter/out/
wallapop-mandrill-mail-sender-client/out/
wallapop-paylivery-commons/out/
wallapop-github-pull-request-merger/out/
wallapop-mparticle-client/out/

# Python
venv/
*.egg-info
*.pyc
**/__pycache__/
